.panel
    display: grid
    overflow-y: scroll
    overflow-x: hidden
    position: relative

    &::-webkit-scrollbar
        width: 5px
    &::-webkit-scrollbar-thumb
        border-radius: 10px
        background-color: rgba(100, 100, 100, .4)
        &:hover
            background-color: rgba(100, 100, 100, .7)
        &:active
            background-color: rgba(0, 0, 0, .6)


    &:after
        content: ""
        position: absolute
        width: calc(100% - 2px)
        left: 1px
        height: 6px
        border-radius: 5px
        box-shadow: #ddd 0 6px 6px -6px inset
        pointer-events: none
        opacity: 0
        transition: opacity 0.2s

    &.scrolled:after
        opacity: 1

    > .header
        display: none

    &.property
        will-change: transform
        &:hover
            background-color: transparent !important
            border-color: lightgray !important