.editor-container
    flex: 1
    border: 1px solid lightgray
    border-radius: 5px
    overflow: hidden
    
.message
    font-family: "Fira Code"
    color: #791515
    padding: 0 0.5em 0 0.5em
    font-size: smaller
    line-height: 24px
    position: absolute
    // overflow: hidden
    text-overflow: ellipsis
    right: 0
    top: -1.8em
    white-space: nowrap
    max-width: 35% // should be set externaly to width of the remaining space on line
    z-index: 1
    transition: all 0.3s
    display: flex

    &:before
        content: ""
        width: 17px
        height: 17px
        position: absolute
        left: 0
        background: linear-gradient(45deg, #f6bfbb, #f6bfbb, #f6bfbb, transparent, transparent)
        transform: rotate(45deg)
        transform-origin: top left
        border-radius: 0 0 0 3px

    span
        width: 100%
        flex: 1
        text-overflow: ellipsis
        overflow: hidden
        margin-left: 0.1em
        z-index: 1

    &:hover
        white-space: initial
        border-radius: 0 0 5px 5px

    &.error
        background-color: hsla(4, 77%, 85%, 1)
    &.warning
        background-color: hsla(41, 79%, 85%, 1)

.inlineDecoration
    &.error
        background-color: rgba(255, 0, 0, 0.15)
    &.warning
        background-color: hsla(55, 100%, 50%, 0.15)
.glyphDecoration
    width: 100% !important
    &.error
        background-color: rgba(255, 0, 0, 0.15)
        &:after
            content: "🚫"
            //content: "🐞"
    &.warning
        background-color: hsla(55, 100%, 50%, 0.15)
        &:after
            content: "⚠️"
    &:after
        font-size: small
        margin-left: 0.3em
        text-shadow: 0 0 0px #000000ad

canvas.decorationsOverviewRuler
    display: none
.vs .monaco-scrollable-element > .scrollbar > .slider
    border-radius: 10px
    left: -1px !important

.margin-view-overlays
    position: relative !important

    .line-numbers
        color: #6f6f6f !important

    &:after
        content: ""
        position: absolute
        top: 0
        bottom: 0
        right: 11px
        left: 0
        box-sizing: border-box
        border-right: 1px solid lightgray
        background-color: hsla(0, 0%, 50%, 0.05)
        pointer-events: none
