
div.tensor-content
    display: flex
    flex-direction: row
    flex: 1

    div.canvas
        .tensor-canvas
            box-sizing: border-box
            margin: 0.2em
            box-shadow: 0px 0px 0px 1px #0000002e
            image-rendering: pixelated
            min-height: 100px
            max-height: 100px
            min-width: 100px
            max-width: 100px
            border-radius: 5px

    .info
        margin-left: 0.5em
        flex: 1
        .field
            font-size: smaller
            display: flex
            align-items: baseline
            .label, .value
                flex: 1

            .value
                text-align: right
                white-space: pre
                font-size: smaller