.tensor-canvas
    image-rendering: pixelated
    min-height: 100px
    max-height: 100px
    min-width: 100px
    max-width: 100px
    border: 1px solid gray
    border-radius: 5px
.info
    margin: 0 0 0.2em 0.3em
    .field
        font-size: smaller
        display: flex
        align-items: baseline
        .label, .value
            flex: 1

        .value
            text-align: right
            white-space: pre
            font-size: smaller