div.canvas
    flex: 1
    align-items: center
    justify-content: center
    display: flex
    .tensor-canvas
        image-rendering: pixelated
        box-sizing: border-box
        margin: 0.2em
        filter: drop-shadow(0px 0px 1px darkgray)
        object-fit: fill
        min-width: 75%
        max-width: 100%
        max-height: 200px
        min-height: 100%