.properties
    display: grid
    flex: 1
    overflow: scroll
    grid-template-columns: repeat(auto-fit, minmax(14em, 1fr))
    grid-gap: 0.3em
    grid-auto-flow: dense
    align-items: stretch

.property.object
    grid-column-start: 1
    grid-column-end: -1

.WestWorldQuote
    font-size: small
    text-align: center
    align-self: center

.property.unknown
    $opacity: 0.2
    $color1: rgba(yellow, $opacity)
    $color2: rgba(black, $opacity)
    mix-blend-mode: normal
    background: repeating-linear-gradient(135deg, $color1, $color1 20px, $color2 20px, $color2 40px)
    background-size: 56px 56px