.properties
    display: grid
    overflow: scroll
    grid-template-columns: repeat(auto-fill, minmax(max-content, 14em))
    grid-gap: 0.3em
    grid-auto-flow: dense
    align-items: stretch

.property.object
    grid-column-start: 1
    grid-column-end: -1

.WestWorldQuote, .SophiaLorenQuote
    font-size: small
    max-width: 15em
    text-align: center