.entity
    display: inline-flex
    flex-direction: column
    font-family: "Fira Code"
    transition: all 0.1s
    .name
        text-align: left
        margin-bottom: 0.1em
    .content
        display: flex
        flex-direction: row