.property
    display: grid
    font-family: "Fira Code"
    padding: 0.5em
    background-color: white
    border-radius: 5px
    box-sizing: border-box
    border: 1px solid lightgray

    &:hover
        background-color: rgba(0, 160, 236, 0.05)
        border-color: hsla(208, 100%, 53%, 0.69)
        mix-blend-mode: screen

    .header
        display: flex
        flex-direction: row
        text-align: left
        margin-bottom: 0.1em
        .cell
            flex: 1
            &.literal
                text-align: right
                font-size: 0.6em
    .content
        overflow: hidden
